.herologin-container {
    background-image: url('/src/img/loginback.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

header {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
    /* Tamanho do título */
    color: #333;
    /* Cor do título */
    margin-bottom: 10px;
    /* Espaçamento abaixo do título */
    text-align: center;
}

header p {
    font-size: 1.2rem;
    /* Tamanho da descrição */
    color: #666;
    /* Cor da descrição */
    /* Largura máxima do parágrafo */
    margin: 0 auto;
    /* Centraliza o parágrafo */
    text-align: center;
}

section {
    margin-top: 0;
    text-align: center;
    padding-bottom: 100px
}

.login-section-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.division {
    padding-top: 150px;
    padding-bottom: 150px;
}

.form-container {

display: flex;
justify-content: center;
align-items: center;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha os campos à esquerda */
    ;
}

/* Estilos para os labels */
form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
    margin-top: 10px;
}

/* Estilos para os inputs */
form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    /* Espaçamento entre os campos */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
}

/* Estilos para o botão */
 .buttonYellow {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
} 
    

/* Estilos para mensagens de erro */
.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
}

.links a {
    position: relative;
    /* Cor do link */
    text-decoration: none;
    /* Remove o sublinhado padrão */
    font-weight: bold;
    transition: color 0.3s ease;
    /* Transição suave para a cor */
}

.links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    /* Espessura da linha */
    background-color: #FFBB00;
    /* Cor da linha */
    transition: width 0.3s ease;
    /* Transição suave para a largura da linha */
}

.links a:hover::after {
    width: 100%;
    /* A linha expande para 100% da largura do link */
}

.links a:hover {
    color: #FFBB00;
    /* Cor do link quando passa o mouse */
}

