/* Geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
}

/* Cards de serviços */
.cardservicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #afafaf;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    padding: 20px;
    margin-bottom: 40px;
}

.cardservicos:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.imageservicos {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 15px;
}

.h3black {
    font-size: 1.6rem;
    font-weight: 900;
    color: #333;
    margin-bottom: 8px;
    text-align: center;
}

.h3grey {
    font-size: 1.1rem;
    font-weight: bold;
    color: #555;
    line-height: 1.5;
    text-align: center;
}

.section-servicos {
    padding: 40px 20px;
    display: grid;
    gap: 20px;
    background-color: #f9f9fc;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px) {
    .cardservicos {
        flex-direction: row;
        justify-content: flex-start;
        padding: 30px;
    }

    .imageservicos {
        flex: 1;
        max-width: 600px;
        height: auto;
    }

    .h3grey {
        text-align: left;
    }
}