*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'inter', sans-serif, 'Times New Roman', Times, serif;
}

header {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding-top: 80px;
    box-sizing: border-box;
    } 

/* teste */
/* COLOR PATTERNS */
:root {
/* BACKGROUND COLOR */
    --background: #F4F4F4;
    --background-helpDesk: #ececec;
    --background-footer: #0094D8;
/* TEXT COLOR */
    /* h1 */--color-text-pageTitles: #000000; 
    /* h2 */--color-text-carouselTitles: #000000;
    /* h3 */--color-text-pageSubTitles-Grey:#333333;
    /* h3 */--color-text-pageSubTitles-Yellow:#FFBB00;
    /* h4 */--color-text-carouselSubTitles:#FFFFFF;
    /* h5 */--color-text-nav:#808080;
    /* h6 */--color-text-pageCaptions:#808080;
    /* p,a */--color-text-all: #000000;

/* BUTTON COLOR */
    --background-button-blue: #0094D8;
    --background-button-white: #ffffff;
    --background-button-yellow: #0026ff;
    --color-button-text-white:#FFFFFF;
    --color-button-text-black:#000000;
    --color-buttonBorder: #0094D8;
    --color-buttonHoverBackground: #000000;
    --color-buttonHoverText: #FFFFFF;
/* INPUT COLOR */
    --background-input:#f1f1f1;
    --text-input:#464646;
}

/* TEXT PATTERNS */
h1 {
    font-size: 2rem; 
    font-weight: 400;
    color: var(--color-text-pageTitles);
}

h2 {
    font-size: 1.5rem;  
    font-weight: 500;
    color: var(--color-text-carouselTitles);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h2.white {
    font-size: 1.8rem;  
    font-weight: 500;
    color: var(--color-text-carouselSubTitles);
    font-weight: 700;
    }

h3.grey {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-text-pageSubTitles-Grey);
}

.h3grey {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color-text-pageSubTitles-Grey);
}

.h3black {
    color: var(--color-button-text-black);
    font-size: 1.1rem;
    font-weight: 700;
}

h3.yellow {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-text-pageSubTitles-Yellow);
}

h4 {
    font-size: 1rem;
    font-weight: 200;
    color: var(--color-text-carouselSubTitles);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h5 { 
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--color-text-nav);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

h6 {
    font-size: 0.5rem;
    font-weight: 350;
    color: var(--color-text-pageCaptions);
}

p {
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--color-text-all);
}

.p-resgates {
    font-size: 1.2rem;
}

a {
    font-size: 0.7rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-text-all);
}

/* BUTTON PATTERNS */
button {
    font-size: 0.75rem;
    padding: 0.35rem 0.7rem;
    border-radius: 0.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    border: none;
}

.buttonWhite {
    background-color: var(--background-button-white);
    border: 0.1rem solid var(--color-buttonBorder);

}

.buttonBlue {
    background-color: var(--background-button-blue);
    color: var(--color-button-text-white);

}

.buttonYellow {
    background-color: var(--background-button-yellow);
    border: 0px;
}


button:hover {
    background-color: var(--color-buttonHoverBackground);
    color: var(--color-buttonHoverText);
}

input {
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    font-weight: 400;
    border: 0.5px solid var(--color-buttonBorder);
    border-radius: 1rem;
    background-color: var(--color-input-background);
    color: var(--text-input);
    outline: none;
}

input::placeholder {
    opacity: 0.5;
}

div,
header,
footer,
section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.section-container>* {
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px gray;
    padding: 10px 0;
}

.nav-container {
    display: flex;
    align-items: center; 
    height: 90px;
    background-color: #FFFFFF;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    flex: 0;
    padding: 3% 0 2% 3%;
}

.logo-icon {    
    cursor: pointer;
    width: 150px;
    height: auto;
}

.nav-links {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--background-button-blue);
    border-bottom: 2px solid #007bff;    
}

.nav-links a.active {
    color: var(--background-button-blue);
    font-weight: 800;    
}

.nav-actions {    
    /* flex: 1; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    margin-right: 110px;
}

.nav-button {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: var(--background-footer);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

.nav-button:hover {
    background-color: var(--background-footer);
}

.nav-search {
    flex: 0;
    display: flex;
    justify-content: flex-end;
}

.search-input {
    width: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    margin: 0 10px;
}

.search-input:focus {
    border-color: #0094D8;
    outline: none;
}

.logged-in-container {
    display: flex;
        flex: 2;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
}

.forgot-password-section-container {
    background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 0 auto;
}